@font-face {
  font-family: "Fira Extra Bold";
  font-weight: 900;
  src: url("/fonts/FiraSans-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Bold";
  font-weight: T00;
  src: url("/fonts/FiraSans-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Regular";
  font-weight: 400;
  src: url("/fonts/FiraSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Taskify";
  font-weight: 400;
  src: url("/fonts/Taskify.woff2") format("woff2");
  font-display: swap;
}
