$primary-50: #f5fcff;
$primary-100: #d3daff;
$primary-200: #a9b4ff;
$primary-300: #8591ff;
$primary-400: #6a73fe;
$primary-500: #5457f3;
$primary-600: #4f4ee7;
$primary-700: #4843d9;
$primary-800: #4138cc;
$primary-900: #371db2;

$grey-10: #fafafb;
$grey-50: #ced0d3;
$grey-100: #c3c7cb;
$grey-200: #afb4ba;
$grey-300: #8a9096;
$grey-400: #727a83;
$grey-500: #494e54;
$grey-600: #3f4346;
$grey-700: #36393c;
$grey-800: #2e3132;
$grey-900: #1d1e1f;

$taskify-main: rgb(57, 12, 129);
